{% extends 'main.html' %}

{% block content %}

{% load static %}


{% if account.user.is_Seeker %}
  <!-- Main Section -->
  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev" style="height: 570px;" >
             
              {% if account.user.is_Seeker %}
              
              
              <label class="switch">
              
                <input type="checkbox"  id="checkbox" onClick="save()">
                <span class="slider round"></span>
              </label>
              <br>
             
              
              {% endif %}
              

            
            <br>
              <img class="avatar avatar--xl dev__avatar" src="{{account.profile_image.url}}" />
              <h2 class="dev__name">{{user.first_name}}</h2>
              {% if account.short_intro %}
              <p class="dev__title">{{account.short_intro}}</p>
              {% endif %}
              <p class="dev__location">Based in {{account.city}}</p>
              {% if account.user.is_Recruiter %}
              <p class="dev__location">{{account.organization}}</p>
              {% endif %}
              <ul class="dev__social">
                {% if account.social_github %}
                <li>
                  <a title="Github" href="{{account.social_github}}" target="_blank"><i class="zmdi zmdi-github-alt" style="font-size: 1.5em;"></i></a>
                </li>
                {% endif %}
                {% if account.social_twitter %}
                <li>
                  <a title="Twitter" href="{{account.social_twitter}}" target="_blank"><i class="zmdi zmdi-twitter" style="font-size: 1.5em;"></i></a>
                </li>
                {% endif %}
                {% if account.social_linkedin %}
                <li>
                  <a title="LinkedIn" href="{{account.social_linkedin}}" target="_blank"><i class="zmdi zmdi-linkedin" style="font-size: 1.4em;"></i></a>
                </li>
                {% endif %}
                {% if account.social_website %}
                <li>
                  <a title="Personal Website" href="{{account.social_website}}" target="_blank"><i class="zmdi zmdi-globe" style="font-size: 1.4em;"></i></a>
                </li>
                {% endif %}
              </ul>
             
              <br>
              
              
             
            </div>
          </div>
        </div>
        
        <div class="column column--2of3">
          
         

          <div class="settings">
            {%if account.user.is_Seeker %}
            <h3 class="settings__title">About Me</h3>
            {% endif %}
            <h3 class="settings__title"></h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'edit-account' %}"><i class="im im-plus"></i> Edit Profile</a>
          </div>
          {%if account.user.is_Seeker %}
          <div class="devInfo">
            <br>
            <p class="devInfo__about">
             {% if account.bio %}
              {% autoescape on %}
              {{ account.bio | linebreaksbr }}
              {% endautoescape %}
              {% else %}
              you don't have bio.
              {% endif %}
            </p>
          </div>
          {% endif %}
          

          {%if account.user.is_Seeker %}
                
          {% if account.education %}
          <div class="settings">
            <h3 class="settings__title">Education</h3>
           
           
          </div>

          <div class="devInfo">
            <br>
            <p class="devInfo__about">
              {% autoescape on %}
              {{ account.education | linebreaksbr }}
              {% endautoescape %}
            </p>
          </div>


          {%endif %}
          
          <div class="settings">
            <h3 class="settings__title">Technical skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-skill' %}"><i class="im im-plus"></i> Add Skill</a>
          </div>

          
          
          <br>
         
              {% for skill in skills %}
              {% if skill.category != sk %}
                <span  class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                  <small style="background-color:  #f4ffff">{{skill.name}} &nbsp</small>
                  <a href="{% url 'delete-skill' skill.name %}"> <img style="width:15px;height:15px; margin-bottom: 10px; margin-left: 10px;" src='{% static "images/3687412.png" %}' alt="Delete" /></a>
               
                </span>
              {% endif%}
              {% endfor %}
          
              
              

              <br>
          
          <br> 
          <h3 class="settings__title">Soft skills</h3>
          <br>
          
              {% for skill in skills %}
              {% if skill.category == sk %}
                <span  class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                 
                 <small style="background-color:  #f4ffff">{{skill.name}} &nbsp </small>
                 
                 <a href="{% url 'delete-skill' skill.name %}"><img style="width:15px;height:15px; margin-bottom: 10px; margin-left: 10px;" src='{% static "images/3687412.png" %}' alt="Delete" /></a>

                </span>
              {% endif%}
              
              {% endfor %}
          
              
              

          <br>
          <br>
          <div class="settings">
            <h3 class="settings__title">Past Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i class="im im-plus"></i> Add Project</a>
          </div>
          {%if projects%}
          <table class="settings__table">
            {% for Project in projects %} 
            <tr>
              <td class="settings__tableInfo">
                <h4>{{ Project.name}}   </h4>
                <p>
                  {{ Project.description}}
                  <a href="{{ Project.link }}" class="zmdi zmdi-share" style="color:#49899b;"></a>
                </p>
                
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--sub settings__btn" href="{% url 'update-project' Project.id %}"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--sub  settings__btn" href="{% url 'delete-project' Project.id %}"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
            {% endfor %}
          
          </table>
          {% else %}
          <br>
          <p class="devInfo__about">you don't have any projects</p>
          {% endif %}

         
        
          {% else %}
          <br>
          
          {% endif %}

        </div>
      </div>
    </div>

  </main>

{%else%}
<link rel="stylesheet" href="{% static 'styles/account.css' %}"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<main class="settingsPage profile my-md">
    <div style="margin: 1rem;">
        <div class="layout">
            <!--            <div class="column column&#45;&#45;1of3">-->
            <div>
                <div class="card text-center">
                    <div class="card__body dev" style="height: 570px;">

                        {% if account.user.is_Seeker %}


                        <label class="switch">

                            <input type="checkbox" id="checkbox" onClick="save()">
                            <span class="slider round"></span>
                        </label>
                        <br>


                        {% endif %}


                        <br>
                        <img class="avatar avatar--xl dev__avatar" src="{{account.profile_image.url}}"/>
                        <h2 class="dev__name">{{user.first_name}}</h2>
                        {% if account.short_intro %}
                        <p class="dev__title">{{account.short_intro}}</p>
                        {% endif %}
                        <p class="dev__location">Based in {{account.city}}</p>
                        {% if account.user.is_Recruiter %}
                        <p class="dev__location">{{account.organization}}</p>
                        {% endif %}
                        <ul class="dev__social">
                            {% if account.social_github %}
                            <li>
                                <a title="Github" href="{{account.social_github}}" target="_blank"><i
                                        class="zmdi zmdi-github-alt" style="font-size: 1.5em;"></i></a>
                            </li>
                            {% endif %}
                            {% if account.social_twitter %}
                            <li>
                                <a title="Twitter" href="{{account.social_twitter}}" target="_blank"><i
                                        class="zmdi zmdi-twitter" style="font-size: 1.5em;"></i></a>
                            </li>
                            {% endif %}
                            {% if account.social_linkedin %}
                            <li>
                                <a title="LinkedIn" href="{{account.social_linkedin}}" target="_blank"><i
                                        class="zmdi zmdi-linkedin" style="font-size: 1.4em;"></i></a>
                            </li>
                            {% endif %}
                            {% if account.social_website %}
                            <li>
                                <a title="Personal Website" href="{{account.social_website}}" target="_blank"><i
                                        class="zmdi zmdi-globe" style="font-size: 1.4em;"></i></a>
                            </li>
                            {% endif %}
                        </ul>

                        <br>


                    </div>
                </div>
            </div>

            <div style="width: 75%;">
                <div class="settings">
                    <h3 class="settings__title"></h3>
                    <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'edit-account' %}"><i
                            class="im im-plus"></i> Edit Profile</a>
                </div>
                <div class="devInfo">
                    <br>
                   
                </div>



                {%if account.user.is_Seeker %}

          
      
        {% if account.education %}
          <div class="settings">
            <h3 class="settings__title">Education</h3>
           
           
          </div>

          <div class="devInfo">
            <br>
            <p class="devInfo__about">
              {% autoescape on %}
              {{ account.education | linebreaksbr }}
              {% endautoescape %}
            </p>
          </div>


          {%endif %}

                <div class="settings">
                    <h3 class="settings__title">Technical skills</h3>
                    <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-skill' %}"><i
                            class="im im-plus"></i> Add Skill</a>
                </div>


                <br>

                {% for skill in skills %}
                {% if skill.category != sk %}
                <span class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                  <small style="background-color:  #f4ffff">{{skill.name}} </small>
                </span>
                {% endif%}
                {% endfor %}


                <br>

                <br>
                <h3 class="settings__title">Soft skills</h3>
                <br>

                {% for skill in skills %}
                {% if skill.category == sk %}
                <span class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                  <small style="background-color:  #f4ffff">{{skill.name}} </small>
                </span>
                {% endif%}

                {% endfor %}


                <br>
                <br>
                <div class="settings">
                    <h3 class="settings__title">Past Projects</h3>
                    <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-project' %}"><i
                            class="im im-plus"></i> Add Project</a>
                </div>
                {%if projects%}
                <table class="settings__table">
                    {% for Project in projects %}
                    <tr>
                        <td class="settings__tableInfo">
                            <h4>{{ Project.name}} </h4>
                            <p>
                                {{ Project.description}}
                                <a href="{{ Project.link }}" class="zmdi zmdi-share" style="color:#49899b;"></a>
                            </p>

                        </td>
                        <td class="settings__tableActions">
                            <a class="tag tag--pill tag--sub settings__btn"
                               href="{% url 'update-project' Project.id %}"><i class="im im-edit"></i> Edit</a>
                            <a class="tag tag--pill tag--sub  settings__btn"
                               href="{% url 'delete-project' Project.id %}"><i class="im im-x-mark-circle-o"></i>
                                Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
                {% else %}
                <br>
                <p class="devInfo__about">you don't have any projects</p>
                {% endif %}


                {% else %}
                <!--          <img src="{% static 'images/dashboard.png'%}">-->

                <form method="post" action="{% url 'account' %}" style="display: flex; align-items: center;">
                    {% csrf_token %}

                    <label for="cityDropdown" style="margin-right: 10px;">Select a City:</label>
                    <select id="cityDropdown" name="city" style="margin-right: 10px; width: auto;">
                        {% for city in all_cities %}
                        <option value="{{ city.name }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="monthYearInput" id="monthYearInputLabel" style="margin-right: 10px;">Select Month and
                        Year:</label>
                    <input type="month" id="monthYearInput" name="month_year"
                           max="{{ current_year }}-{{ current_month }}" style="margin-right: 10px;">

                    <button type="submit" class="load-dashboard-button">Load Dashboard</button>
                </form>


                <div class="dashboard">
                    <div class="dashboard-row">
                        <div class="dashboard-element">
                            <div class="dashboard-label">Applicants per Domain
                              {% if selected_city == "True" %}
                              
                              {%else%}
                              for {{selected_city}}
                                {{month_year}}
                              {%endif%}
                            </div>
                            <div class="dashboard-chart">
                                <!-- Insert your pie chart here -->
                                <canvas id="knowledgePieChart" width="400" height="400"></canvas>
                            </div>
                        </div>

                        <div class="dashboard-element">
                            <div class="dashboard-label">Job Posts Domains 
                              {% if selected_city == "True" %}
                              
                              {%else%}
                              for {{selected_city}}
                                {{month_year}}
                              {%endif%}
                             
                            </div>
                            <div class="dashboard-chart">
                                <!-- Insert your histogram here -->
                                <canvas id="histogramChart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-row">
                        <div class="dashboard-element">
                            <div class="dashboard-label">Number of applicants</div>
                            <div class="dashboard-value">{{applications_length}}</div>
                        </div>

                       
                        <div class="dashboard-element">
                            <div class="dashboard-label">Views of all job posts</div>
                            <div class="dashboard-value">{{last_count}}</div>
                        </div>
                        <div class="dashboard-element">
                            <div class="dashboard-label">Hot Job Post Domain (Based on Number of Views)</div>
                            <div class="dashboard-value">{{job_post_max}}</div>
                        </div>
                    </div>
                </div>


                {% endif %}

            </div>
        </div>
    </div>

</main>


{%endif%}
<script type="text/JavaScript">
  function save() {	
    var checkbox = document.getElementById("checkbox");
    localStorage.setItem("checkbox", checkbox.checked);	
  }

  var checked = JSON.parse(localStorage.getItem("checkbox"));
  document.getElementById("checkbox").checked = checked;

</script>
<script type="text/JavaScript">
// adding pie chart
var ctx = document.getElementById('knowledgePieChart').getContext('2d');

var dataLabels = {{pie_labels | safe}};
var dataValues = {{pie_data | safe}};
var numberOfDataPoints = dataLabels.length;

// Define a function to generate random colors
function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

// Generate an array of random colors based on the number of data points
var backgroundColors = Array.from({ length: numberOfDataPoints }, () => getRandomColor());

var data = {
  labels: dataLabels,
  datasets: [{
      data: dataValues,
      backgroundColor: backgroundColors
  }]
};

var pieChart = new Chart(ctx, {
  type: 'pie',
  data: data,
  options: {
      responsive: false
  }
});

// adding histogram
var ctx = document.getElementById('histogramChart').getContext('2d');
//categories = ['Category A', 'Category B', 'Category C']


  var data = {
      labels: {{histogram_labels | safe}},
      datasets: [{
          label: 'Values',
          data:  {{histogram_data | safe}},  // Use the Django template variable
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
      }]
  };

  var histogramChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
          responsive: false,
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });






</script>

  {% endblock content %}