
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    {% block styles %}

    {% endblock styles %}

    <title>Hiral - Connect with the world!</title>
   
  </head>
  <body>
    
    {% include 'accounts/navbar.html' %}

    {% block all_messages %}
      {% if messages %}

      {% for message in messages %}
      <div style="
      position: fixed;left: 50%;
      top: 120px; transform: translate(-50%, -50%);
      z-index: 99999;" 
      class="alert  alert--{{message.tags}}">
          <p class="alert__message">{{message}}</p>
          <button class="alert__close">x</button>
      </div>

      {% endfor %}

      {% endif %}
      
    {% endblock all_messages %}

    {% block content %}



    {% endblock content %}
    
  

	
  </body>

  <script src="{% static 'uikit/app.js' %}"></script>
  {% block scripts %}
    <script>
      var user = "{{ user.username }}";
      console.log(user);

      var ws_protocol = "ws:";
      if (location.protocol == "https:"){
        ws_protocol = "wss:"
      };
  
      var ws_url = `${ws_protocol}//${location.host}/notification/`;
      console.log(ws_url);
  
      const socket = new WebSocket(
        ws_url,
      );

      socket.onopen = function(e){
        console.log("Event ", e)
      };

      socket.onclose = function(e){
        console.log("Event ", e)
      };

      socket.onmessage = function(e){
        console.log("Event ", e)
        var notTab = document.getElementById("notification-tab");
        var aTagNotTab = notTab.getElementsByTagName("a")[0];
        var span = document.createElement("span");
        span.classList.add("notification-mark");
        aTagNotTab.appendChild(span);
      };

      socket.onerror = function(e){
        console.log("Event ", e)
      };

    </script>
  {% endblock scripts %}
</html>

