
{% extends 'main.html' %}

{% block content %}

{% load static %}


  
  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{seeker.profile_image.url}}" />
              <h2 class="dev__name">{{seeker.user.first_name}}</h2>
              {% if seeker.short_intro %}
              <p class="dev__title">{{seeker.short_intro}}</p>
              {% endif %}
        
              <p class="dev__location">Based in {{seeker.city}}</p>
              {% if seeker.user.is_Recruiter %}
              <!--  <p class="dev__location">{{account.organization}}</p> -->
              {% endif %}
              
              <ul class="dev__social">
                {% if seeker.social_github %}
                <li>
                  <a title="Github" href="{{seeker.social_github}}" target="_blank"><i class="zmdi zmdi-github-alt" style="font-size: 1.5em;"></i></a>
                </li>
                {% endif %}
                {% if seeker.social_twitter %}
                <li>
                  <a title="Twitter" href="{{seeker.social_twitter}}" target="_blank"><i class="zmdi zmdi-twitter" style="font-size: 1.5em;"></i></a>
                </li>
                {% endif %}
                {% if seeker.social_linkedin %}
                <li>
                  <a title="LinkedIn" href="{{seeker.social_linkedin}}" target="_blank"><i class="zmdi zmdi-linkedin" style="font-size: 1.4em;"></i></a>
                </li>
                {% endif %}
                {% if seeker.social_website %}
                <li>
                  <a title="Personal Website" href="{{seeker.social_website}}" target="_blank"><i class="zmdi zmdi-globe" style="font-size: 1.4em;"></i></a>
                </li>
                {% endif %}
               
              </ul>
              
              <p class="dev__location">{{seeker.email}}</p>
              <br>
              <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#" onclick="openForm()"><i class="im im-plus"></i> Send message</a>
              <br>
              <br>
              
            </div>
          </div>
        </div>
        <div class="column column--2of3">
         <!-- <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            
            <p class="devInfo__about">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex illum ipsum iusto consequatur. Totam,
              dolorum fugiat, debitis facere illo nostrum nesciunt maxime, deserunt enim voluptatibus modi natus velit
              voluptatum. Dicta eritatis exercitationem ut quos a placeat obcaecati? Architecto illum!
              <br />
              Amet consectetur adipisicing elit. Veritatis exercitationem ut quos a placeat obcaecati? Architecto
              illum, atque delectus nemo dolorem inventore ab facilis? Dolor placeat vel delectus ipsam ullam.
            </p>
          </div> -->
          <div class="settings">
            <h3 class="settings__title">About Me</h3>
            
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'send_job_offer' job_post.id seeker.email %}"><i class="im im-plus"></i> Send job offer</a>
        </div>
          <div class="devInfo">
            <br>
            <p class="devInfo__about">
              {% if seeker.bio %}
              {% autoescape on %}
              {{ seeker.bio | linebreaksbr }}
              {% endautoescape %}
              {% else %}
              don't have bio.
              {% endif %}
            </p>
          </div>
          
          <div class="settings">
            <h3 class="settings__title">Technical skills</h3>
           
          </div>

          
          
          <br>
          
              {% for skill in tech_skills %}
              
                <span  class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                  <small style="background-color:  #f4ffff">{{skill.name}} </small>
                </span>
            
              {% endfor %}
          
              
              

          <br> 
          <br>
          <h3 class="settings__title">Soft skills</h3>
          <br>
          
              {% for skill in sk_skills %}
             
                <span  class="tag  tag--lg tag--main" style="background-color:  #f4ffff">
                  <small style="background-color:  #f4ffff">{{skill.name}} </small>
                </span>
              
              {% endfor %}
          
              
              

         
              <br>
              <br>
          {%if projects %}
          <div class="settings">
            <h3 class="settings__title">Past Projects</h3>
           
          </div>
          
          <table class="settings__table">
            {% for Project in projects %} 
            <tr>
              <td class="settings__tableInfo">
                <h4>{{ Project.name}}   </h4>
                <p>
                  {{ Project.description}}
                  <a href="{{ Project.link }}" class="zmdi zmdi-share" style="color:#49899b;"></a>
                </p>
                
              </td>
              
            </tr>
            {% endfor %}
          
          </table>
          
          {% endif %}

         
        
         
             
                <a class="tag tag--pill tag--sub settings__btn tag--lg" href=""><i class="im im-plus"></i> Download Resume</a>
                
            
          </div>
          

            

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');


    function openForm() {
      return askMessage()
    }
    function askMessage() {
      // document.getElementById("myForm").style.display = "block";
      var msgInp = prompt("Send message to username: ");
      if (msgInp == ""){
        return askMessage()
      } else {
        if (msgInp == null | msgInp == undefined | msgInp == ""){
          return null;
        };
        console.log(msgInp);
        fetch("/api/chat/room/message/create/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
              "message": msgInp,
              "user_id": "{{ seeker.user.id }}",
            })
        })
        .then((resp) => {
          return resp.json();
        })
        .then((data) => {
          console.log(data);
          location.href = `${location.origin}/chat/`;
        })
        .catch((err) => {
          console.log(err);
        })
      }
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

  </script>

  {% endblock content %}